<mat-form-field appearance="outline" [formGroup]="parentGroup">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'" [attr.data-testid]="'password'" (input)="emitEvent()">
    <mat-icon matSuffix>
        <button (click)="switchVisibility()" type="button">
            <img *ngIf="hide" src="assets/svg/visibility.svg">
            <img *ngIf="!hide" src="assets/svg/visibility_off.svg">
        </button>
    </mat-icon>
    <mat-hint>Hint</mat-hint>
</mat-form-field>