<mat-form-field appearance="outline" [formGroup]="parentGroup">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" formControlName="{{fcName}}" [type]="hide ? 'password' : 'text'" [attr.data-testid]="fcName" (input)="emitEvent()">
    <mat-icon matSuffix>
        <button (click)="switchVisibility()" type="button">
            <img *ngIf="hide" src="assets/svg/visibility.svg">
            <img *ngIf="!hide" src="assets/svg/visibility_off.svg">
        </button>
    </mat-icon>
    <mat-hint *ngIf="noValidPW()">Please type in a <button (click)="openDialog()">strong password</button></mat-hint>
    <mat-error *ngIf="noPw()">Please type in a password</mat-error>
    <mat-error *ngIf="!noPw()">Please type in a <button (click)="openDialog()">strong password</button></mat-error>
</mat-form-field>