<div class="login-container">
    <mat-card class="form-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm">
                <p>
                    <app-mail-form (loginFormEvent)="onSubmitForm($event)" [parentGroup]="loginForm"></app-mail-form>
                </p>
                <p>
                    <app-password-form (loginFormEvent)="onSubmitForm($event)" [parentGroup]="loginForm"></app-password-form>
                </p>
                <button type="submit" mat-flat-button color="primary" (click)="login()" [attr.data-testid]="'submitLoginForm'">Log in</button>
            </form>


        </mat-card-content>
    </mat-card>
</div>